.aboutUs {
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: #82c6e1;
}

img {
  width: 700px;
  max-height: 600px;
  padding-left: 100px;
}

.aboutUs h1 {
  font-size: 80px;
  color: #fbf7f7;
  font-family: "Alegreya Sans SC", sans-serif;
}

p {
  font-size: 20px;
  line-height: 40px;
}
