.aboutUs {
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: #82c6e1;
}

img {
  width: 50%;
  height: 50%;
}

.aboutUs h1 {
  font-size: 80px;
  color: #fbf7f7;
}

p {
  font-size: 20px;
}
