.aboutUs {
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: #d2e8ff;
  min-height: 100vh;
}

.aboutImage img {
  width: 600px;
  max-height: 600px;
  padding-left: 100px;
}

.aboutUs h1 {
  font-size: 80px;
  color: #e3255b;
  font-family: "Alegreya Sans SC", sans-serif;
}

p {
  font-size: 20px;
  line-height: 40px;
}
