.contactUs {
  font-family: "Alegreya Sans SC", sans-serif;
  height: 100vh;
  min-height: 100vh;
  background-image: url("../Images/contactUs.jpg");
  background-size: cover;
  background-position: center;
}

.contactUs h1 {
  color: #e3255b !important;
}

.contact-form form {
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
  background: rgba(255, 255, 255, 0.5) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

button {
  background-color: #e3255b !important;
  color: white !important;
  font-size: 25px !important;
}
