.contactUs {
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: #ccd7e5;
  height: 100vh;
}

.contactUs h1 {
  color: #e3255b !important;
}

button {
  background-color: #e3255b !important;
  color: white !important;
  font-size: 25px !important;
}
