.homepage {
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: #342716;
  color: #e6d9d1;
  height: 100vh;
  padding: 0 14%;
}

.contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.homepageImage img {
  width: 100%;
  height: auto;
  padding-top: 100px;
}

.content h1 {
  font-size: 90px !important;
  font-weight: 900;
  margin: 15px 0;
  color: #e3255b;
}

.content h3 {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1px;
}
