.bakers {
  background-color: #feb0c8;
  color: #fbf7f7;
  font-family: "Alegreya Sans SC", sans-serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.homepage {
  height: 80vh;
  display: flex;
  margin: 0;
}

.homepage .col-6 {
  padding: 0;
  margin: 0;
}

.homepage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 70px;
  padding-top: 500px;
}
