.menuBody {
  background-color: #9b7d61;
  color: #fbf7f7;
  font-family: "Alegreya Sans SC", sans-serif;
}

.menuBody h1 {
  font-size: 80px;
}

.menu-image {
  width: 80%;
  height: 80%;
}

.menu {
  font-size: 30px;
}
