.menuBody {
  background-color: #f7f3ea;
  color: #e3255b;
  font-family: "Alegreya Sans SC", sans-serif;
}

.menuBody h1 {
  font-size: 80px;
}

.menu-image {
  width: 80%;
  height: 80%;
}

.menu {
  font-size: 30px;
}
